<h1>{{title}}</h1>

{{#if price}}
    <h2>Price: {{price}}</h2>
{{else}}
    <h2>Price upon request</h2>
{{/if}}


<hr />

{{#if ingredients}}
    <h2>Ingredients:</h2>

    <ul>
        {{#each ingredients}}
            <li>{{this}}</li>
        {{/each}}
    </ul>
{{/if}}


<img src="/images/{{imageFile}}" alt="{{title}}" />


<hr />

{{!-- Banner --}}
{{> ctaBuyNow}}